.container {
    padding-left: 3rem;
    display: flex;
    justify-content: left;
    align-items: center;
    height: 4rem;
    background-color: #EABCA3;
    border-bottom: 1px solid #C74874;
}

p {
    margin: 0;
}