.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    min-width: 100%;
    color: #C74874;
    border-bottom: 1px solid #C74874;
    background: none;
}

/* Contenedor y estilos logo NavBar */

.logo {
    height: 3rem;
}

.logo img {
    height: 100%;
}

.container p {
    font-weight: bold;
    font-size: 23px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user span {
    font-size: 40px;
}

p {
    margin: 0;
}

.text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}