.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
  /*background-image: url('../images/undraw_connected_world_wuay.svg');
    background-size: 50%;
    background-position: 10% center;
    background-repeat: no-repeat; */
}

.btn {
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1rem;
  padding: 1rem;
  min-width: 60%;
  background-color:#08B783;
  color: #17262A;
  font-weight: bold;
}

.btn_claro{
  border-radius: 10px;
  font-size: 20px;
  margin-top: 1rem;
  padding: 1rem;
  min-width: 60%;
  background-color:#17262A;
  color: #08B783;
  font-weight: bold;
}

a {
  text-decoration: none;
}

.recluiter {
  height: 100%;
  background-color: #17262A;
}

.recluiter .contImgr:hover {
  transform: scale(0.9);
  filter: none;
}

.candidate {
  height: 100%;
}

/* Aquí va el diseño de el titulo del recluta */

.titler a {
  font-size: 50px;
  color: #08B783;
}

.contImgr {
  min-height: 70%;
  background-image: url('../images/viejo.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.5s all ease-in-out;
  filter: drop-shadow(0 2px 40px #101c1f);
}

/* Aquí va el diseño de el titulo del candidato */


.titlec a {
  font-size: 50px;
  color: #17262A;
}

.contImgc {
  min-height: 70%;
  background-image: url('../images/candidato.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 58%;
  transition: 0.5s all ease-in-out;
  filter: drop-shadow(0 2px 20px #101c1f9b);
}
.candidate .contImgc:hover {
  transform: scale(0.9);
  filter: none;
}