.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #C74874;
}

.home {
    position: absolute;
    top: 6%;
    right: 16%;
}

.name {
    display: flex;
    justify-content: space-between;
}

.cont-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    width: 100%;
}


.cont-form {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    height: 80%;
    width: 70%;
    box-shadow: 0px 4px 80px #c59e89;
    border-radius: 15px;
}

.cont-form input {
    color: white;
    background: none;
    border: none;
    border-bottom: 1px solid #0a9396;
    outline: none;
    padding: 0.5rem;
    min-width: 100%;
}

/* Informacion personal contenedor */

.cont-personal {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    height: 80%;
    width: 70%;
    box-shadow: 0px 4px 80px #c59e89;
    border-radius: 15px;
}

.contImg {
    height: 100%;
    width: 100%;
    background-color: #EABCA3;
    background-image: url('../images/form.png');
    background-size: 60%;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 15px 0 0 15px;
}

.cont-personal input {
    width: 90%;
    color: white;
    background: none;
    border: none;
    border-bottom: 1px solid #0a9396;
    outline: none;
    padding: 0.5rem;
    min-width: 100%;
}

/* Estilos Botones */

.contBtn {
    min-width: 100%;
    margin-top: 2rem;
}

.btn {
    border-radius: 10px;
    font-size: 20px;
    margin-top: 1rem;
    padding: 1rem;
    color:#C74874;
    min-width: 57%;
    background-color: #EABCA3;
    font-weight: bold;
}

/* Estilos boton subir */

.sumbit {
    border-radius: 10px;
    font-size: 20px;
    margin-top: 1rem;
    padding: 1rem;
    color:#C74874;
    min-width: 57%;
    background-color: #EABCA3;
    font-weight: bold;
}


.cont-softSkills {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}


/* Estilos checkboxes */

.cont-form label {
    padding: 0.7rem;
    border: 2px solid #C74874;
    color:#C74874;
    font-weight: bold;
    border-radius:  10px;
    background-color: #EABCA3;
    transition: all 0.2s;
} 

.check-soft_skills {
    margin: 0.5rem;
}

[type="checkbox"] {display: none;}

[type="checkbox"]:checked + label {
    background-color: #C74874;
    border: 2px solid #C74874;
    color: #EABCA3;
}


.hidden {
    display: none;
}

/* Checks estilos */

.completado {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    width: 12%;
    color: #C74874;
}

.material-icons {
    color: #C74874;
    font-size: 50px;
    animation-name: Pasos;
    animation-duration: 1s;
}

/* Titulo estilos */

.contTitle {
    margin-bottom: 2rem;
}

.contTitle h1 {
    font-size: 48px;
}

/* Estilos Inputs */

.input_form {
    min-width: 60%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background:  none;
    overflow: hidden;
    position: relative;
    margin-bottom: 1rem;
 }

 .input_form select {
     width: 100%;
     font-weight: bold;
     color: #C74874;
     border: none;
     border-bottom: 1px solid #C74874;
     outline: none;
 }
 
 .input_form input {
    width: 100%;
    height: 100%;
    background: none;
    color: black;
    padding-top: 20px;
    border: none;
    outline: none;
 }
 
 .lbl_nombre {
     position: absolute;
     bottom: 0;
     left: 0;
     font-weight: bold;
     width: 100%;
     height: 100%;
     pointer-events: none;
     border-bottom: 1px solid #C74874;
 }
 
 .lbl_nombre::after {
     content: '';
     position: absolute;
     left: 0;
     bottom: -1px;
     width: 100%;
     height: 100%;
     border-bottom: 3px solid #C5031D;
     transform: translateX(-100%);
     transition: all 0.3s ease;
 }
 
 .text_nomb {
     position: absolute;
     bottom: 5px;
     left: 0;
     transition: all 0.3s ease;
 }
 
 .input_form input:focus + .lbl_nombre .text_nomb,
 .input_form input:valid + .lbl_nombre .text_nomb {
    transform:  translateY(-150%);
    font-size: 14px;
    color: #C5031D;
  }
 
 .input_form input:focus + .lbl_nombre:after,
 .input_form input:valid + .lbl_nombre:after {
     transform: translateX(0%);
 }

 /* Contenedor checkbox habilidades */

 .contHabilidades {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 8rem;
 }

 .cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
 }