table{
    font-family: sans-serif;        


    background-color: white;
    
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.658);    
 
    background-color: rgb(39, 55, 73);    
    border-radius: 10px;
}

.cont-descargar{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

#test-table-xls-button{
    width: 300px;
    height: 50px;
    border-radius: 10px;
    background-color: #59CD90;
    font-weight: bold;
    font-size: 15px;
}

#test-table-xls-button:hover{
    background-color: #001E38;
    color: #fff;
    transition: 1s;
}


tr {
    color: aliceblue;
}

th{
    padding: 0.25rem 0.5rem;
    letter-spacing: 0.05rem;
    text-transform: uppercase(1);
    font-weight: 800; 
    color: rgb(209, 186, 52);   
}

td{
    padding: 1rem 0;    
    text-align: center;
}

.status{
    padding: 0 0.5rem;
    text-align: center;
}

.estudiando{
    background-color: aqua;
    color: rgb(0, 145, 145);
}

.buscando{
    background-color: coral;
}

.trabajando{
    background-color: rgba(85, 1, 71, 0.575);
}

.contacto{
    text-align: center;
}

.proceso{
    background-color: rgb(255, 179, 134);
}

.rechazado{
    background-color: rgb(255, 93, 93);
}

.contratado{
    background-color: rgb(148, 231, 24);
}

.bloqueado{
    background-color: black;
    color: white;
}

/* tr:nth-child(even){
    background-color: rgba(250, 128, 114, 0.11);
} */

.buscador{
    margin: 15px;
    height: 30px;
    width: 15%;
    text-align:justify;
    font-size: 16px;
}



