.globalContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
   /*  min-height: 3rem; */
}

.contenedor {
   /*  position: absolute; */
    display: flex;
    align-items: center;
    justify-content: left;
    min-height: 3rem;
    min-width: 13rem;
    border: 1px solid rgb(199, 199, 199); 
    border-radius: 15px;
    padding: 0 10px 0 20px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    /* width: 80%;
    height: 100%;  */
    top: 0;
}

.contenedor:hover {
    background-color: rgb(233, 233, 233);
    border: 1px solid #08B783;
}

.delete {
    right: 0;
   /*  position: absolute; */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    min-width: 10%;
    border: 1px solid rgb(199, 199, 199); 
    border-radius: 15px;
    padding: 10px;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.delete:hover {
    background-color: rgb(233, 214, 214);
    border: 1px solid rgb(200, 85, 85);
}

.delete span {
    color: black;
}


.name {
    width: 70%;
    max-height: 3rem;
}

.name p {
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: left;
    color: rgb(20, 20, 20);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.folder span {
    font-size: 30px;
    color: rgb(20, 20, 20);
}