/* .globalCont {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
}

.contGrid {
    position: relative;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    background-color: black;
    background-image: url('../images/PruebaFondo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.rectangle {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30rem;
    min-height: 20%;
    max-width: 30rem;
    max-height: 40%;
    background-color: #f470615e;
    border-radius: 20px 0 0 20px;
}

.contCards {
    overflow: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-color: #6b6b6b;
}

.contNav {
    width: 100%;
}

.contSaludo {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contSaludo h1 {
    color: white;
}

.contSaludo span  {
    color: rgb(246, 143, 26);
    text-shadow:0px 0px 20px #6b6b6b;
    font-size: 50px;
} */

.globalCont {
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    background-image: url('../images/PruebaFondo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.contGrid {
    position: relative;
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-width: 100vw;
}

.contCards {
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
}



/* Saludo */

.contSaludo h1 {
    color: white;
}

