.globalCont {
    min-width: 100%;
    min-height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    background-color: #EABCA3;
}
